<div class ="container">
  <divclass="mx-auto" style="width: 600px;">
    <img src="./app/assets/images/logo.png" class="img-fluid" alt="Responsive image">
    <h1 class="text-center fw-bold display-1">Welcome to Psydiary</h1>
    <br>
    <h1 class="text-center">"The App to Bring You Home"</h3>
    <br>
    <p class="text-center lead">As psilocybin has started to receive more attention in the mental health space and become legal to consume in multiple states the interest in receiving treatment has grown. Unfortunately the accessibility to clinics/clinicians providing this treatment is slow to take off. As individuals are seeking out self-treatment by way of growing and consuming at home, Psydiary hopes to provide a structured way for users to track their experience with self-guided-treatment.</p>
    <br>
    <h3 class="text-center">Track Your Journey</h3>
    <br>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-dark btn-center btn-lg" href=<%=register_path%>>Begin Here</button>
      </div>
    </div>
  </div>
</div>